<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div id="messages"></div>

    <form>
      <input id="chat-input" type="text" name="chat-box" placeholder="Enter your message here">
      <input id="file-input" type="file" name="name" style="display: none;" />
      <button id="btn-send" type="submit">SEND</button>
      <button id="btn-open">Open</button>
    </form>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script>
      const socket = io();
      socket.on('connect', () => {
        socket.emit('joined_room', '{{ username }}');
      });

      const chatbox = document.querySelector('input');
      document.querySelector('form').onsubmit = (e) => {
        e.preventDefault();
        let message = chatbox.value.trim();
        if (message.length) {
          let data = {
            username: "{{ username }}",
            message: message
          };
          socket.emit('new_message', data);
        }
        chatbox.value = "";
        chatbox.focus();
      }
    </script>
    <script src="{{ url_for("static", filename="chat.js") }}" type="text/javascript" charset="utf-8"></script>
  </body>
</html>
